<div class="row justify-content-between">
    <div class="col-4" style="text-align:left">
        <a asp-action="Create">Add Shipment</a>
    </div>
    <div class="col-4" style="text-align:right">
        <a asp-controller="Carrier" asp-action="Index">All Carriers</a>
    </div>
</div>

<br />
<hr />
<br />

<div id="grid"></div>